server:
  port: ${PORT:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
spring:
  application:
    name: auth-service
  sql:
    init:
      mode: always
  r2dbc:
    url: r2dbc:postgresql://sonifoy-db:5432/auth_db
    username: sonifoy_user
    password: sonifoy_password
  data:
    redis:
      host: sonifoy-redis
      port: 6379
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:29092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/
